html(ng-app="favorloca")
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		base(href='/')
		title Favorite Locations
		link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/css/sidenav.css')
		link(rel='stylesheet', href='/css/app.css')
		body
			block body
		script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="js/lib/bootstrap/bootstrap.min.js")
		script(src="js/lib/angular/angular.js")
		script(src="js/lib/angular/angular-route.js")
		script(src="js/lib/angular/angular-resource.js")
		script(src="js/lib/angular/angular-cookies.min.js")
		script(src="js/lib/module.js")
		script(src="js/app.js")
		script(src="js/directives/modalDirective.js")
		script(src="js/controllers/loginController.js")
		script(src="js/controllers/welcomeController.js")
		script(src="js/controllers/signupController.js")
		script(src="js/controllers/navigationController.js")
		script(src="js/services/httpService.js")
		script(src="js/services/userDataCache.js")