div.row-fluid
	div(align="center", ng-show="!isLoggedIn")
		br
		br
		input.username(type="text", name="login.username", value="login.username", ng-model="login.username", placeholder="Username")

		input.password(type="password", name="login.password", value="login.password", ng-model="login.password", placeholder="Password")
		br
		input.btn.submit(type="submit", ng-click="userLogin()")

		br
		div.error {{ loginerror }}
		br
		a.signup(href="/signup") Not a user? Click here to sign up

