p
	span Already a user?
		a(href="/login") Click here to Login
	br
	br
	input.username(type="text", name="signup.username", value="signup.username", ng-model="signup.username", placeholder="Username")
	br
	input.password(type="password", name="signup.password", value="signup.password", ng-model="signup.password", placeholder="Password")
	br
	input.verify(type="password", name="signup.verify", value="signup.verify", ng-model="signup.verify", placeholder="Verify Password")
	br
	br
	input.btn.submit(type="submit", ng-click="signUpUser()", class="span6")
	br
	div.error(align="center") {{ signuperror }}

