body{
    padding: 0px;
}
h1{
    display:inline-block;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
}
h2{
    font-size: 21px;
}
h3{
    font-size: 18px;
}

input.username, input.password, input.verify{
    height:40px;
}
input.search, select.type{
    height:30px;
}
input.btn{
    padding: 10px;
}

.label{
    text-align: right;
    background:#ffffff;
    color:#000000;
}
.error{
    padding: 10px 0;
    color:#c82020;
    font-weight: bold;
}
.text{
    padding: 0 5px;
}
textarea{
    max-width: 100%;
    width:100%;
    height:50%;
}

#send{
    width:100%;
    height:10%;
}
.logout{
    display:inline-block;
    padding-left: 30px;
}
.list{
    display:inline-block;
    width:50%;
    vertical-align:top;
}
.contentwrapper{
    display:block;
    width:100%;
}

#map_canvas{
    width:100%;
    height: 100%;
}
.links{
    padding: 0 10px;
}

.searcharea{
    position: absolute;
    top: 0;
    left: 10%;
    padding: 10px 0;
    margin:10px auto;
    width: 80%;
    height: auto;
    text-align:center;
    background: #000000;
    opacity: 0.75;
    border-radius: 10px;
    z-index: 99887766554321;
}
#col-left{
    width:94%;
    height:100%;
}
#col-right{
    width:6%;
}
#col-right nav{
    width:100%;
    text-align: center;
}
#col-right .col-sm-3 .nav>li>a>img {
    margin-left: 3px;
}
.addressoverflow{
    display: inline-block;
    width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.linkswrapper{
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: middle;
}
#locationslist table tr td{
    padding: 10px 0;
}


@media (min-width: 361px) and (max-width: 641px) and (orientation: landscape) {
    #col-left{
        width: 90%;
    }
    #col-right{
        width:10%;
    }
    h1{
        float: left;
        font-size: 18px;
    }
    input, select{
        width: auto;
    }
    .modal{
        top:5%;
    }
    .modal-header, .modal-footer{
        padding-top:5px;
        padding-bottom:5px;
    }

    #modal-favorite-locations .modal-body {
        min-height: 125px;
        max-height: 125px;
        overflow-y: scroll;
    }
    .logout{
        padding-left: 10px;
    }
}


@media (min-width: 300px) and (max-width: 360px) and (orientation: portrait) {
    #col-left{
        width: 85%;
    }
    #col-right{
        width:15%;
    }
    h1{
        float: left;
        font-size: 18px;
        line-height: 18px;
    }
    input, select{
        width: auto;
    }
    .modal{
        top:5%;
        width: 280px;
        left: 90%;
    }
    .modal-header, .modal-footer{
        padding-top:5px;
        padding-bottom:5px;
    }

    #modal-favorite-locations .modal-body {
        min-height: 125px;
        max-height: 125px;
        overflow-y: scroll;
    }
    .logout{
        padding: 20px 0px;
    }
    input.username, input.password, .search, .type{
        float: left;
        width: 100%;
    }
    .links{
        font-size: 10px;
    }
    .searcharea{
        left: 5%;
        width: 90%;
    }
    .searcharea .span12{
        margin-left: 5px;
    }
}